[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/lonelydog
[access "refs/for/refs/*"]
	read = group user/lonelydog
	push = group user/lonelydog
	label-Code-Review = -2..+2 group user/lonelydog
	label-Verified = -1..+1 group user/lonelydog
	rebase = group user/lonelydog
	removeReviewer = group user/lonelydog
	submit = group user/lonelydog
[access "refs/heads/*"]
	read = group user/lonelydog
	create = group user/lonelydog
	push = +force group user/lonelydog
	pushMerge = group user/lonelydog
[access "refs/tags/*"]
	push = +force group user/lonelydog
	pushTag = group user/lonelydog
	pushSignedTag = group user/lonelydog
